.pill {
    border-radius: 30px;
    margin-right: 10px;
    height: 25px;
    white-space: nowrap;
    padding: 5px 20px 9px 20px;
    background-color: var(--background-transparent-accent);
    cursor: pointer;
}

.pill-selected {
    background-color: var(--accent-primary);
}

.pill-label-selected {
    color: var(--foreground-accent);
}