.pill {
    border-radius: 30px;
    margin-right: 10px;
    min-height: var(--button-height);
    white-space: nowrap;
    padding: 3px 20px;
    background-color: var(--background-transparent-accent);
    cursor: pointer;
}

.pill-selected {
    background-color: var(--accent-primary);
}

.pill-label-selected {
    color: var(--foreground-accent);
}