.button {
	padding: 12px 30px;
	border: 0;
	border-radius: 30px;
	cursor: pointer;
	background-color: var(--background-transparent-accent);
	min-width: 80px;
}

.button-full-width {
	width: 100%;
}

.button-submit {
	background: var(--gradient-subtle);
	color: var(--foreground-inverse);
}

.button-accent {
	background: var(--background-accent2);
}

.button-danger {
	background: var(--background-negative);
	color: var(--foreground-negative);
}

.button-large {
	padding: 16px 16px;
}