.trtext {
    font-weight: var(--font-weight-default);
    font-size: var(--font-size-default);
    color: var(--foreground-primary);
}

.trtext-bold { font-weight: var(--font-weight-bold); }
.trtext-light { font-weight: unset; }

.trtext-large { font-size: var(--font-size-large); }
.trtext-medium-large { font-size: var(--font-size-medium-large); }
.trtext-medium { font-size: var(--font-size-medium); }
.trtext-small { font-size: var(--font-size-small); }

.trtext-faded { color: var(--foreground-secondary) }
.trtext-accent { color: var(--accent-primary) }
.trtext-inverse { color: var(--foreground-inverse) }
