.login-screen {
	padding: 60px 180px;
	height: 100vh;
	width: 100vw;
	box-sizing: border-box;
	background: rgb(35,0,177);
	background: var(--background-primary)
}

.login-card {
	background: var(--gradient-vibrant-angled);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 12px;
	padding: 55px;
	height: 360px;
	width: 300px;
}