.breadcrumb-container {
    min-height: var(--breadcrumb-height);
    max-height: var(--breadcrumb-height);
}

.item-container {
    overflow: hidden;
}

.parent {
    z-index: 200;
}

.parent-grandparent-visible {
    margin-left: var(--grandparent-reveal-width);
}