.trove-logo {
	font-weight: bold;
	text-transform: uppercase;
}

.trove-logo-small {
	font-size: 24px !important;
	letter-spacing: 2px;
}

.trove-logo-large {
	font-size: 72px !important;
	letter-spacing: 10px;
}

.trove-logo-white { color: white; }
.trove-logo-black { color: black; }

.trove-logo-gradient {
	background: var(--gradient-subtle);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}