.text-input {

	font-family: unset;
	background-color: #eaeaea;
	background-color: #eaeaea;
	box-sizing: border-box;
	font-size: 15px;
	font-weight: 700;
	border-radius: 12px;
	width: 100%;
	border: 0;

}

.text-input-large { padding: 12px; }
.text-input-small { padding: 6px; }
.text-input-normal { padding: 9px; }

.text-input-darker { background-color: #c9c9c9; }

.text-input-transparent {
	background-color: transparent;
	font-weight: unset;
	padding: 0;
}

.text-input-transparent:focus-visible {
	outline: 0;
	border-radius: 0;
}