.text-input {

	font-family: unset;
	background-color: var(--background-transparent-accent);
	box-sizing: border-box;
	font-size: var(--font-size-medium);
	font-weight: var(--font-weight-bold);
	border-radius: 30px;
	width: 100%;
	color: var(--foreground-primary);
	border: 0;
	outline: 0;

}

.text-input-large { padding: 15px; }
.text-input-small { padding: 4px var(--font-size-small); font-size: var(--font-size-small); }
.text-input-normal { padding: 6px 12px; }

.text-input-darker { background-color: var(--background-transparent-accent-more); }

.text-input-transparent {
	background-color: transparent;
	padding: 0;
}

.text-input:focus {
	outline: var(--border-width-chunky) solid var(--accent-primary);
	outline-offset: 0;
}

.text-input-transparent:focus-visible {
	outline: 0;
	border-radius: 0;
}