.checkbox {
	margin-top: 4px;
	width: 18px;
	height: 18px;
	min-width: 18px;
	min-height: 18px;
	box-sizing: border-box;
	border-style: solid;
	border: solid var(--border-width-chunky) var(--background-transparent-accent);
	border-radius: 6px;
	transition: border-radius 100ms;
	opacity: 1;
}

.checkbox:hover {
	opacity: 0.4;
}

.checkbox-checked {
	background-color: var(--accent-primary);
	border-color: var(--accent-primary);
}

.checkbox.multiselect {
	border-color: var(--accent-secondary);
	border-radius: 50%;
}

.checkbox-checked.multiselect {
	background-color: var(--accent-secondary);
}

.checkbox-small {
	height: 17px;
	width: 17px;
	min-height: 17px;
	min-width: 17px;
}
