.flat-list-item {
	transition: background 200ms;
	cursor: pointer;
	border-radius: 12px;
	margin-top: 3px;
	padding: var(--spacing-large)
}

.flat-list-item:hover {
	background-color: var(--background-transparent-accent);
}

.flat-list-item-selected {
	background-color: var(--background-transparent-accent-more);
}

.flat-list-item-checked .flat-list-item-title { color: var(--accent-primary); }