.crumb:hover {

	transition: background 200ms;
	background-color: var(--accent-primary);
	color: var(--foreground-accent) !important;

}

.crumb {
	padding: 4px 12px;
	margin: 0 12px;
	border-radius: 12px;
	cursor: pointer;
}