.selected-item-display {
	flex: 1;
}

.selected-item-display-no-parent {
	max-width: 100vw
}

.selected-item-display-with-parent {
	max-width: calc(100vw - 400px);
}

.selected-item-display-with-grandparent {
	max-width: calc(100vw - 550px);
}

.selected-item-display-content-wrapper {
	max-height: calc(100vh - 442px);
	overflow-y: scroll;
	width: 100%;
	padding: 20px 0 300px 0;
}

.selected-item-display-content-wrapper-lenses {
	max-height: calc(100vh - 502px);
}

.selected-item-display-content {
	width: 100%;
	margin-bottom: 40px;
}

.selected-item-display-content-narrow {
	max-width: var(--selected-item-width-standard);
}

.selected-item-title {
	transition: opacity 400ms;
	cursor: pointer;
}

.selected-item-title:hover {
	opacity: 0.6;
}

.selected-item-children { transition: opacity 200ms; }
.selected-item-children-disabled { opacity: 0.25; }

.modal-title-field {
	font-size: var(--font-size-large);
	font-weight: var(--font-weight-bold);
	margin-top: 1px;
}

.modal-description-field {
	font-size: var(--font-size-medium);
	font-weight: var(--font-weight-default);
	max-height: 50vh;
	padding: var(--spacing-large);
	border-radius: 18px;
	max-width: 800px;
}