.selected-item-display {
	flex: 1;
}

.selected-item-display-no-parent {
	max-width: 100vw
}

.selected-item-display-with-parent {
	max-width: calc(100vw - 400px);
}

.selected-item-display-with-grandparent {
	max-width: calc(100vw - 550px);
}

.selected-item-display-content-wrapper {
	max-height: calc(100vh - 525px);
	overflow-y: scroll;
	width: 100%;
	padding: 20px 0 300px 0;
}

.selected-item-display-content {
	width: 100%;
	margin-bottom: 40px;
}

.selected-item-display-content-narrow {
	max-width: 800px;
}

.selected-item-title {
	transition: opacity 400ms;
	cursor: pointer;
}

.selected-item-title:hover {
	opacity: 0.6;
}

.selected-item-children { transition: opacity 200ms; }
.selected-item-children-disabled { opacity: 0.25; }