
.theme-root {

  --preferred-font-family: 'DM Sans';
  font-family: var(--preferred-font-family), -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  --font-size-large: 30px;
  --font-size-medium-large: 20px;
  --font-size-medium: 15px;
  --font-size-small: 12px;
  --font-size-default: 12px;

  --font-weight-bold: 700;
  --font-weight-default: 400;
  --font-weight-light: 200;

  --spacing-large: 12px;
  --border-width-chunky: 2px;

  --selected-item-width-standard: 640px;
  --button-height: 30px;
  --header-height: 115px;
  --item-blade-width: 350px;
  --grandparent-reveal-width: calc(var(--item-blade-width) * -0.5);

}

.theme-root[data-theme=light] {

  --background-primary: #ffffff;
  --background-accent1: #e8e8e8;
  --background-accent2: #bababa;
  --background-transparent-accent: rgba(0,0,0,0.08);
  --background-transparent-accent-more: rgba(0,0,0,0.12);
  --background-negative: #ffcccc;

  --foreground-primary: #282828;
  --foreground-secondary: #949494;
  --foreground-inverse: #ffffff;
  --foreground-accent: var(--foreground-inverse);
  --foreground-negative: #ff1b1b;

  --divider-primary: #949494;
  --divider-secondary: rgba(0,0,0,0.12);

  /* --accent-primary: #4c29d8;
  --accent-secondary: #1a82d8; */
  --accent-primary: #5b26d8;
  --accent-secondary: #157bce;

  --gradient-vibrant: linear-gradient(90deg, rgb(74, 50, 172) 0%, rgb(156, 34, 158) 50%, rgb(0, 194, 255) 100%);
  --gradient-vibrant-angled: linear-gradient(135deg, rgb(74, 50, 172) 0%, rgb(156, 34, 158) 50%, rgb(0, 194, 255) 100%);
  --gradient-subtle: linear-gradient(135deg, var(--accent-primary), var(--accent-secondary));

  --shadow: rgba(0,0,0,0.1);

  --parent-brightness-shift: 0.9;
  --grandparent-brightness-shift: 0.8;


}

.theme-root[data-theme=dark] {

  --background-primary: #202026;
  --background-accent1: #262630;
  --background-accent2: #303036;
  --background-transparent-accent: rgba(255,255,255,0.08);
  --background-transparent-accent-more: rgba(255,255,255,0.12);
  --background-negative: #ff4d4d;

  --foreground-primary: #ffffff;
  --foreground-secondary: #969696;
  --foreground-inverse: #282828;
  --foreground-accent: var(--foreground-primary);
  --foreground-negative: #ff9999;

  --divider-primary: #777777;
  --divider-secondary: rgba(255,255,255,0.08);

  --accent-primary: #7a40ff;
  --accent-secondary: #2099fc;

  --gradient-vibrant: linear-gradient(90deg, rgb(74, 50, 172) 0%, rgb(156, 34, 158) 50%, rgb(0, 194, 255) 100%);
  --gradient-vibrant-angled: linear-gradient(135deg, rgb(74, 50, 172) 0%, rgb(156, 34, 158) 50%, rgb(0, 194, 255) 100%);
  --gradient-subtle: linear-gradient(135deg, var(--accent-primary), var(--accent-secondary));

  --shadow: #7a40ff66;

  --parent-brightness-shift: 1.25;
  --grandparent-brightness-shift: 1.5;
}

.theme-root {
  min-height: 100vh;
  background-color: var(--background-primary);
}

.svg-inline--fa {
  color: var(--foreground-primary);
}

*::-webkit-scrollbar {
  display: none
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

p { margin: 0 0 12px 0; }

a {
  color: var(--accent-secondary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: var(--accent-primary)
}