.progress-bar-background {
	background-color: var(--background-transparent-accent);
	height: var(--progress-bar-height);
	width: 100%;
}

.progress-bar-contents {
	transition: width 500ms;
	transition-timing-function: cubic-bezier(.63,0,0,1.4);
	background-color: var(--accent-primary);
	height: 7px;
}

.progress-bar-contents.multiselect {
	background-color: var(--accent-secondary);
}

.progress-bar-floating {
	border-radius: 4px;
}