.item-blade {
	background-color: var(--background-accent1);
	width: 400px;
	min-width: 400px;
}

.item-blade-darken {
	filter: brightness(var(--grandparent-brightness-shift));
	/* background-color: var(--background-accent2); */
}

.item-blade-header {
	padding: 0 15px;
}

.item-blade-leading-space {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 10px 0;
	margin-bottom: 10px;
	min-height: 40px;
}

.item-blade-content {
	max-height: calc(100vh - 120x);
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0 15px 30px 15px;
	flex: 1 1 0%;
	box-sizing: border-box;
	width: 100%;
}