.item-blade {
	background-color: var(--background-primary);
	width: var(--item-blade-width);
	min-width: var(--item-blade-width);
}

.item-blade-grandparent {
	filter: brightness(var(--grandparent-brightness-shift));
}

.item-blade-parent {
	filter: brightness(var(--parent-brightness-shift));
}

.item-blade-header {
	padding: 0 15px;
}

.item-blade-leading-space {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 0;
	margin-bottom: 10px;
	min-height: 64px;
}

.item-blade-content {
	max-height: calc(100vh - 120x);
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0 var(--spacing-large) 30px var(--spacing-large);
	flex: 1 1 0%;
	box-sizing: border-box;
	width: 100%;
}